<h1>{{model.title}}</h1>

<h3>{{model.category.title}}</h3>

<p>
  posted by {{model.author}}
</p>

<p>
  {{model.body}}
</p>

{{format-date model.date_added}}

<a class='btn btn-large' {{action 'deletePost' model}}>
  <button type="button">DELETE</button></a>
{{edit-post post=model editPost='editPost'}}
{{new-comment post=model saveComment='saveComment'}}

{{#each model.comments as |comment|}}
  {{comment.body}}
  {{comment.author}}
{{/each}}

<br>
<br>
